.second-header {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    background-color: var(--secondary-medium);
    border-bottom: 0.8px solid var(--secondary-low);
    box-shadow: none;

    a {
        text-decoration: none;
        color: var(--primary);
        font-weight: bold;
        font-size: 0.8em; // reduced font size
        padding: 5px 10px;
        flex-grow: 1;
        text-align: center;
        white-space: nowrap; // ensures the text doesn't wrap
    }
}
