// custom search banner customizations
.custom-search-banner-wrap {
  margin: 0 auto !important;
  max-width: unset;
  color: var(--secondary);
  h1 {
    font-size: 4em;
  }
  p {
    font-size: 1.25em !important;
    font-weight: bold;
    margin-bottom: 1em;
  }
  .btn {
    height: 100%;
  }
  .search-menu input[type="text"] {
    border: 1px solid transparent;
    border-radius: 0.25em;
    min-height: 40px;
    &:focus {
      outline: 3px solid rgba(var(--primary-rgb), 0.35);
    }
  }
  .widget-link.show-help {
    color: rgba(var(--primary-rgb), 0.75);
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: rgba(var(--secondary-rgb), 0.25);
    &:hover {
      color: var(--primary);
    }
  }
  .search-menu .search-input {
    border-color: var(--tertiary-hover);
    outline: 1px solid var(--tertiary-hover);
  }
  .results {
    top: 43px;
    border-radius: 0.25em;
  }
  .search-context {
    top: 3.25em;
    right: 1em;
  }
}

.search-input {
  border-radius: 0.25em;
}

.display-search-banner {
  #main-outlet {
    padding-top: 2em;
  }
}

// Main customizations
.alert {
  margin: 1em 0;
}

.topic-list .topic-list-header .topic-list-data,
.topic-list .topic-list-item .topic-list-data {
  padding: 15px 5px;
}

.navigation-topics .topic-list .topic-list-body .topic-list-data,
.navigation-topics .topic-list .topic-list-header .topic-list-data {
  flex: unset;
}

.badge-wrapper.box {
  border-radius: 0.25em;
  overflow: hidden;
}

.badge-wrapper.bullet {
  .badge-category-bg {
    border-radius: 0.125em;
  }
  .badge-category-parent-bg {
    border-top-left-radius: 0.125em;
    border-bottom-left-radius: 0.125em;
    + .badge-category-bg {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 0.125em;
      border-bottom-right-radius: 0.125em;
    }
  }
}

.discourse-tag {
  font-size: $font-down-1;
  border-radius: 0.25em;
  padding: 0.15em 0.25em 0.15em 0.35em;
  background-color: var(--primary-low);
  color: var(--primary) !important;
  &:hover {
    background-color: var(--primary-low-mid);
    color: var(--primary);
  }
}

.discourse-tags .discourse-tag.simple:not(:last-child)::after,
.list-tags .discourse-tag.simple:not(:last-child)::after,
.search-category .discourse-tag.simple:not(:last-child)::after {
  content: "";
  margin-left: unset;
}

.topic-list .link-bottom-line .discourse-tag.simple:after,
.topic-list .link-bottom-line .discourse-tag.box {
  margin-right: 0px;
}

#site-text-logo {
  color: var(--primary);
}

.mobile-view {
  .cm-header-links {
    display: none;
  }
  .list-controls .nav-pills .drop li:first-of-type {
    display: none;
  }
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.select-kit.combo-box .select-kit-header,
.d-editor-textarea-wrapper,
div.ac-wrap {
  border-radius: 4px;
}
.d-header {
  background-color: var(--secondary);
  border-bottom:0.8px solid var(--secondary-low);
  box-shadow: none;
  background-color: var(--secondary-medium);
}

.d-header-icons .d-icon {
  border-radius: 100px;
}

.d-header-icons .icon {
  border-radius: 0.25em;
  margin-left: 0.3em;
  border: 1px solid transparent;
  svg {
    font-size: 1.25em;
  }
}

.d-header-icons .icon img.avatar {
  border-radius: 0.25em;
}

.menu-panel.drop-down {
  margin-top: 1em;
  border-radius: 0.5em;
  border: 1px solid var(--primary-low-mid);
}

.drop-down-mode .d-header-icons .active .icon {
  border: 1px solid transparent;
  .d-icon {
    color: var(--tertiary);
  }
}

.drop-down-mode .d-header-icons .active .icon:hover {
  border: 1px solid transparent;
}

.menu-panel .widget-link:hover,
.menu-panel .widget-link:focus,
.menu-panel .categories-link:hover,
.menu-panel .categories-link:focus {
  background-color: rgba(var(--tertiary-rgb), 0.5);
}

.btn:not(.themes-tab):not(.components-tab),
.select-kit.dropdown-select-box .dropdown-select-box-header {
  border-radius: 8px;
  border: 1px solid transparent;
}

.post-admin-menu.popup-menu {
  .btn.widget-button {
    border-radius: 0px;
  }
}

.unread-high-priority-notifications {
  background: var(--quaternary);
}

.timeline-container .topic-timeline .timeline-handle {
  background-color: var(--tertiary);
}

.timeline-container .topic-timeline .timeline-scrollarea {
  border-left-color: var(--tertiary);
}

// graceful ish style
@mixin box-shadow($value: 0px) {
  box-shadow: 0 24px 40px var(--shadow-modal),
    0 10.8529px 24.1177px var(--quaternary-medium),
    0 4.50776px 10.0172px var(--quaternary-high),
    0 1.63037px 3.62304px var(--quaternary-very-high);
}

html {
  body {
    background: linear-gradient(
        0deg,
        rgba(var(--primary-rgb), 0.075) 0%,
        rgba(var(--primary-rgb), 0.075) 100%
      ),
      linear-gradient(0deg, var(--secondary) 100%, var(--secondary) 100%);
  }
  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary-medium);
    background-image: url($blur_image);
    background-repeat: no-repeat;
    background-position: center;
  }
}

html body #main-outlet {
  //-webkit-backdrop-filter: blur(8px);
  //backdrop-filter: blur(8px);
  background-color: var(--secondary-very-high);
  border: 1px solid var(--secondary-high);
  border-radius: 12px;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 2rem 3rem;
  max-width: 1150px;
  .archetype-regular & {
    min-height: 500px;
  }
  @media screen and (max-width: 700px) {
    padding: 1.5em;
    margin-top: 0;
  }
  //padding-bottom: 5% !important; //overriding inline style
  @media screen and (max-width: 1120px) {
    width: 80%;
  }
  @media screen and (max-width: 1075px) {
    width: 85%;
  }
}

.nav-pills:not(.user-nav) > li a.active,
.nav-pills:not(.user-nav) > li > a {
  border-radius: 0.5em;
}

// Topic List

.topic-list-icons .d-icon-thumbtack, .topic-list .d-icon-thumbtack, .latest-topic-list .d-icon-thumbtack, .top-topic-list .d-icon-thumbtack{
  color: var(--tertiary);
}

.topic-list .link-bottom-line a.badge-wrapper.box, .topic-list .link-bottom-line a.discourse-tag.box{
  display: none;
}

@keyframes background-fade-highlight {
  0% {
    background-color: var(--highlight-low);
  }
  100% {
    background-color: var(--secondary);
  }
}

.full-width .contents .topic-list {
  border-collapse: separate;
  border-spacing: 0 0.25em;
  display: contents;
  .topic-list-header {
    tr {
      display: flex;
      border-bottom: none;
    }
    display: contents;
    .topic-list-data.default {
      width: 63%;
    }
    .topic-list-data.posters {
      width: 7%;
    }
    .topic-list-data.posts {
      width: 15%;
    }
    .topic-list-data.activity {
      width: 15%;
    }
  }
  .topic-list-body {
    display: contents;
    .topic-list-item-separator {
      width: 100%;
      margin: 0.75em 0;
      display: flex;
      .topic-list-data {
        width: 100%;
      }
    }
    .topic-list-item {
      width: 100%;
      display: flex;
      margin-bottom: 0.5em;
      background-color: var(--header_background);
      border: 1px solid var(--tertiary);
      border-radius: 1em;
      position: relative;
      transition: box-shadow 100ms ease-in-out, background-color 200ms ease-in-out, border 200ms ease-in-out;
      box-shadow: 0px 0px 8px var(--shadow-modal);
      overflow: hidden;
      &.visited {
        background-color: var(--secondary);
        transition: box-shadow 100ms ease-in-out, background-color 200ms ease-in-out, border 200ms ease-in-out;
        border: 1px solid var(--secondary-high);
        .discourse-tag {
          opacity: 0.75;
        }
        &:hover {
          border: 1px solid var(--primary-very-low);
          .discourse-tag {
            opacity: 1;
          }
        }
      }
      &:hover {
        //background-color: var(--secondary);
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
        border: 1px solid var(--tertiary);
        a.title:not(.badge-notification),
        a.topic-excerpt {
          color: var(--primary) !important;
        }
      }
      .topic-list-data.main-link {
        width: 63%;
        order: 2;
      }
      .topic-list-data.posters {
        width: 7%;
        order: 1;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        a:not(.latest) {
          display: none;
        }
      }
      .topic-list-data.posts {
        width: 15%;
        order: 3;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .topic-list-data.age {
        width: 15%;
        order: 4;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.topic-list-data.num.views {
  display: none;
}

.full-width .contents .topic-list .topic-list-item .posters a.latest {
  margin-right: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  .avatar {
    margin-right: 0;
  }
}

.full-width .contents .topic-list {
  .topic-list-item {
    .main-link {
      min-height: 100%;
      min-height: 100%;
      .link-top-line {
        display: block;
        margin-bottom: 0.25em;
      }
      .title {
        font-weight: bold;
      }
      .link-area {
        display: flex;
        .link-title-area {
          margin-right: 1em;
          font-size: $font-up-1;
        }
        .link-meta-area {
          font-size: $font-down-3;
          display: flex;
          align-items: center;
        }
      }
    }
    .posters {
      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 8px;
      }
      a.latest {
        .avatar {
          margin-right: 0;
        }
      }
      a:not(.latest) {
        margin-left: -22px;
        .avatar {
          border: 3px solid var(--secondary);
        }
      }
    }
    .posts-map,
    .num.age.activity {
      a {
        padding: 0;
      }
    }
    .posts-map {
      position: relative;
      .number {
        margin-right: 0.25em;
      }
    }
    .post-activity {
      .d-icon-reply {
        color: var(--primary-medium);
        margin-right: 0.25em;
      }
      .relative-date {
        color: var(--primary-medium);
      }
    }
  }
}

.navigation-container {
  margin-top: 2em;
}

// published page additions
.published-page-content-wrapper {
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 50px;
  background: var(--secondary);
  border-radius: 1em;
  padding: 3em 3em 5%;
  box-shadow: 0 24px 40px var(--shadow-modal),
    0 10.8529px 24.1177px var(--quaternary-medium),
    0 4.50776px 10.0172px var(--quaternary-high),
    0 1.63037px 3.62304px var(--quaternary-very-high);
  z-index: 1;
  position: relative;
}

.published-page {
  .background-container {
    display: none;
  }
  &::before {
    background: linear-gradient(
      90deg,
      var(--tertiary-hover) 0%,
      var(--tertiary) 100%
    );
    clip-path: ellipse(148% 70% at 91% -14%);
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 0;
  }
}

.quote-button {
  background-color: var(--primary-low-mid);
  border-radius: 0.5em;
}

.topic-list tr.selected td:nth-child(2),
.topic-list-item.selected td:nth-child(2),
.latest-topic-list-item.selected,
.search-results .fps-result.selected {
  box-shadow: inset 3px 0 0 var(--danger);
}

.topic-list tr.selected td:first-child,
.topic-list-item.selected td:first-child,
.latest-topic-list-item.selected,
.search-results .fps-result.selected {
  box-shadow: none;
}

.topic-list .main-link.focused + .posters {
  box-shadow: inset 3px 0 0 var(--tertiary);
}

.topic-list .main-link.focused {
  box-shadow: none;
}

/* custom footer */

.custom-footer{
  background: var(--secondary-medium)!important;
}

.custom-footer .first-box .heading {
  color: var(--primary-very-high)!important;
}

.custom-footer .list span {
  color: var(--primary-very-high)!important;
}

.custom-footer .first-box .blurb {
  color: var(--primary-very-high)!important;
}

.custom-footer .footer-section-link-wrapper a {
  color: var(--primary-very-high)!important;
}

.custom-footer .third-box .small-link {
  color: var(--primary-very-high)!important;
}

.custom-footer .third-box .social .social-link .d-icon {
  color: var(--primary-very-high)!important;
}

/* custom banner */

.above-main-container-outlet.welcome-link-banner-connectors .welcome-wrapper, .below-site-header-outlet.welcome-link-banner-connector .welcome-wrapper {
  margin: 2.5rem 2.5rem 0rem 2.5rem!important;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: var(--secondary-very-high);
  border: 1px solid var(--secondary-high);
  border-radius: 0.5rem;
  box-shadow: none;
}

.btn-flat.welcome-link-banner-close.btn.no-text.btn-icon {
  border: 0px !important;
  background: transparent !important;
}


/* topic animation */

.topic-body.highlighted{
  animation: none!important;
}

/* Custom background for first post in a topic */

#post_1{
  background-color: var(--secondary);
  border: 1px solid var(--secondary-low);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
}

/* topics */

.topic-body{
  border-top: none;
}

.topic-avatar{
  border-top: none;
}

.btn:not(.btn-sidebar-toggle) {
  height: 100%;
  color: var(--primary-very-high);
  background: var(--secondary-very-high);
  border: 0.8px solid var(--secondary-high)!important;
  border-radius: 5px!important;
  padding: 10px;
}

.discourse-no-touch .btn:hover, .discourse-no-touch .btn.btn-hover {
  background-color: var(--secondary-low)!important;
  color: var(--primary-very-high);
}

.discourse-no-touch .btn:hover .d-icon, .discourse-no-touch .btn.btn-hover .d-icon{
  color: var(--primary-very-high)!important;
}

.btn-primary .d-icon, .admin-wizards-custom-fields .btn.save:enabled .d-icon{
  color: var(--primary-high)!important;
}

.topic-map{
  background: var(--shadow-modal);
  border: none;
  border-radius: 5px;
}

.topic-map section{
  border-top: none;
}

.topic-map .buttons .btn{
  background: var(--shadow-modal);
}

blockquote{
  border-left: 3px solid var(--tertiary);
  background-color: var(--header_background);
  border-radius: 0px 5px 5px 0px;
}

.cooked img:not(.thumbnail):not(.ytp-thumbnail-image):not(.emoji), .d-editor-preview img:not(.thumbnail):not(.ytp-thumbnail-image):not(.emoji){
  border-radius: 10px;
}

.topic-list .link-bottom-line .discourse-tags{
  gap: 5px;
}

.topic-status-info, .topic-timer-info{
  border-top: 0px solid var(--primary-very-high)36;
}

.topic-list-item td:first-child, .topic-post{
  border-bottom: 1px solid var(--primary-very-high)36;
}

.topic-list .topic-list-header .topic-list-data, .topic-list .topic-list-item .topic-list-data{
  border-bottom: 0px;
}

.topic-list-item, tr{
  border-bottom: 1px solid var(--primary-very-high)36;
}

tbody{
  border-top: 1px solid var(--primary-very-high)36;
}

.topic-body{
  border-top: 1px solid var(--primary-low);
}

.posts-filtered-notice{
  background-color: var(--tertiary-med-or-tertiary);
  border-radius: 0.5rem;
}

.filtered-replies-viewing{
  color: var(--secondary);
}

.extra-info-wrapper .topic-header-extra .discourse-tags .discourse-tag{
  margin-left: 4px;
}

.post-notice{
  color: var(--tertiary-med-or-tertiary)!important;
  background-color: var(--secondary-low)!important;
}

.post-notice.old .d-icon, .post-notice p, .post-notice .d-icon{
  color: var(--tertiary-med-or-tertiary);
}

.topic-post article.boxed:hover{
  background-color: var(--secondary-low);
}

.user-title--toasteur-fondateur{
 color: var(--pavilion-warning)!important;
}

.user-title--toasteur a, .user-title--toasteur a{
  color: var(--primary-300)!important;
}

.user-title--toasteur-master a, .user-title--toasteurs-master a{
  color: var(--category-12-color)!important;
}

.user-title--team-cryptoast-research a, .d-icon-shield-alt, .user-title--cryptoast-media a{
  color: var(--tertiary-med-or-tertiary)!important;
}

#post_1 > .topic-body{
  border-top: none!important;
}

/* home filter */

.nav-pills>li>a:hover, .nav-pills>li button:hover{
  background-color: var(--highlight-bg);
}

.list-controls .combo-box .combo-box-header{
  color: var(--primary-very-high);
  background: var(--secondary-very-high);
  border: 0.8px solid var(--secondary-high) !important;
  border-radius: 5px !important;
}

.select-kit.is-expanded .select-kit-body{
  border-radius: 5px;
}

.select-kit.single-select.dropdown-select-box.is-expanded .select-kit-collection, .select-kit.single-select.dropdown-select-box.is-expanded .select-kit-body{
  border-radius: 5px;
}

/* sidebar section */

.sidebar-wrapper{
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: var(--quaternary-medium);
  border-radius: 12px;
}

.sidebar-wrapper .sidebar-container{
  border: 1px solid var(--secondary-high);
  border-radius: 15px;
}

.sidebar-wrapper .sidebar-sections{
  padding: 1.5rem 0rem;
  display: inline-table;
}

.sidebar-section-link-wrapper .sidebar-section-link:focus, .sidebar-section-link-wrapper .sidebar-section-link:hover{
  background: var(--secondary-high);
}

.sidebar-more-section-links-details:focus-within, .sidebar-more-section-links-details:hover{
  background: var(--primary-very-high)14;
}

.sidebar-section-link-wrapper .sidebar-section-link.active{
  background: var(--primary-very-high)24;
}

.discourse-no-touch .sidebar-section-wrapper .sidebar-section-header-wrapper:hover{
  background: transparent;
}

.discourse-no-touch .sidebar-section-wrapper .sidebar-section-header-wrapper .btn.dropdown-select-box-header, .discourse-no-touch .sidebar-section-wrapper .sidebar-section-header-wrapper .sidebar-section-header-button{
  border-radius: 50px;
  margin-left: 5px;
}

.sidebar-section-wrapper .sidebar-section-header-wrapper{
  margin-bottom: 5px;
}

.sidebar-section-messages{
  display: none;
}

#d-sidebar > div.sidebar-sections > div:nth-child(4){
  display: none;
}

/* admin menu */

.boxed.white{
  background-color: transparent;
}

.nav-pills:not(.user-nav)>li a.active, .nav-pills:not(.user-nav)>li>a{
  border-radius: 5px;
}

.btn.ok{
  background: var(--success)!important;
}

.btn.cancel{
  background: var(--danger)!important;
}

.admin-controls{
  background-color: var(--secondary);
}

.admin-controls nav {
  background-color: var(--secondary);
  border-radius: 5px;
}

.admin-controls nav:before{
  display: none;
}

.admin-controls nav:after{
  display: none;
}

.btn:not(.btn-sidebar-toggle){
  height: inherit;
}

.alert.alert-info{
  border-radius: 5px;
  background-color: transparent;
}

.admin-customize .themes-list-container{
  background-color: var(--quaternary-low);
  border-radius: 0px 0px 5px 5px;
}

.admin-customize .themes-list-header .tab.active{
  color: var(--primary-very-high);
  background-color: var(--quaternary)!important;
  border-radius: 5px 5px 0px 0px!important;
}

.user-main .about.collapsed-info .details{
  border-bottom: 1px solid var(--secondary-high);
  background: transparent;
}

.user-content{
  border-radius: 10px;
  background-color: var(--secondary);
}

.user-secondary-navigation .nav-stacked li:hover, .user-secondary-navigation .nav-stacked li.active{
  background: var(--primary-very-high)17;
  border-radius: 5px;
}

.user-preferences .bio-composer, .group-form-bio{
  border-radius: 5px;
}

.admin-controls .controls{
  background: transparent;
}

.nav-stacked li{
  background: var(--secondary);
}

.admin-detail{
  border-radius: 5px;
  border-left: 0px;
  padding-right: 10px;
}

.wizard-message{
  background-color: var(--shadow-modal);
  border-radius: 5px;
}

.admin-wizard-controls+.wizard-message+div{
  overflow-x: scroll;
}

.group-details-container{
  background: var(--shadow-modal);
  border-radius: 5px;
}

div.edit-category .edit-category-title-bar{
  border-radius: 4px;
  background-color: var(--secondary-low);
}

.user-preferences .bio-composer .d-editor-preview, .group-form-bio .d-editor-preview, .edit-category-tab-topic-template .d-editor-preview{
  background-color: var(--secondary-low);
  border-radius: 5px;
  border: 1px solid var(--primary-low);
}

.uploaded-image-preview{
  background: var(--secondary-low) center;
}

.dashboard.general .navigation-item.general .navigation-link, .dashboard-next.general .navigation-item.general .navigation-link{
  border-bottom: 0.2em solid var(--tertiary);
}

.dashboard .navigation, .dashboard-next .navigation{
  border-bottom: 1px solid var(--primary-low);
}

.admin-customize .themes-list-search__input, .admin-customize .themes-list-filter{
  background-color: var(--secondary-low);
}

.admin-customize .themes-list-search{
  background: var(--secondary);
}

/* user dropdown */

.menu-panel.drop-down{
  border: 1px solid var(--secondary-high);
}

.user-menu.revamped .quick-access-panel li.unread, .user-menu.revamped .quick-access-panel li.pending{
  border-radius: 5px;
}

.user-menu.revamped .menu-tabs-container{
  border-left: none;
}

.user-menu.revamped .bottom-tabs{
  border-top: none;
}

.user-menu.revamped .tabs-list .btn{
  margin-bottom: 5px;
}

.user-menu.revamped .quick-access-panel{
  padding: 5px;
}

.user-menu.revamped .menu-tabs-container{
  padding: 5px 5px 0 5px;
}

.user-menu.revamped .quick-access-panel li:hover{
  border-radius: 5px;
  background-color: var(--secondary-low)!important;
}

.user-menu.revamped #quick-access-profile li{
  margin-bottom:5px;
}

/* home recent */

.latest-topic-list .table-heading, .top-topic-list .table-heading{
  color: var(--primary-very-high);
}

.table-heading{
  border-bottom: 1px solid var(--secondary-high);
}

.latest-topic-list-item{
  border-bottom: 1px solid var(--secondary-high);
}

.discourse-tag.box{
  background-color: var(--primary-very-high)1f;
}

/* filter year */
.select-kit.dropdown-select-box.period-chooser .period-chooser-header{
  padding: 0px 10px;
  background-color: var(--secondary-very-high);
  border: 1px solid var(--secondary-high)!important;
}

.select-kit.dropdown-select-box.period-chooser .period-chooser-header h2.selected-name .top-date-string{
  color: var(--primary-medium);
}

.select-kit.dropdown-select-box.period-chooser .period-chooser-row .top-date-string{
  color: var(--primary-medium);
}

/* home */
.navigation-categories .navigation-container, .categories-list .navigation-container{
  border-bottom: 1px solid var(--secondary-high);
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
  border: 0px!important;
}

.select-kit.combo-box .select-kit-filter .filter-input, .select-kit.combo-box .select-kit-filter .filter-input:focus, .select-kit.combo-box .select-kit-filter .filter-input:active{
  border: 0px!important;
}

.open .grippie{
  border-radius: 10px 10px 0px 0px;
}

.custom-category-boxes:not(.above-discovery-categories-outlet) .category-box{
  border: 1px solid var(--secondary-high);
}

/* user profile */
.user-main .staff-counters{
  background: var(--tertiary);
  border-radius: 5px;
}

.user-main .deleted-posts{
  background-color: var(--primary-very-high);
}

.user-main .staff-counters>div span, .user-main .staff-counters>div a span{
  padding: 5px 13px;
  border-radius: 50%;
}

.user-main .about .details{
  padding: 10px;
  border-radius: 10px;
}

.nav-pills>li a.active, .nav-pills>li button.active{
  border-radius: 5px;
}

.nav-pills>li>a:hover, .nav-pills>li button:hover{
  border-radius: 5px;
}

.user-content-wrapper .user-content{
  padding: 20px;
}

.user-stream .item, .user-stream .user-stream-item{
  background-color: transparent;
}

.select-kit.combo-box .select-kit-header{
  background: var(--secondary-very-high);
  border: 0.8px solid var(--secondary-high) !important;
}

.select-kit.multi-select .multi-select-header{
  background: var(--secondary-very-high);
  border: 0.8px solid var(--secondary-high) !important;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
  background: var(--secondary-very-high);
  border: 0.8px solid var(--secondary-high) !important;
}

.user-main .about.has-background .details{
  padding: 15px;
}

.user-main .about .secondary dl{
  padding: 5px 0px;
}

.d-editor-textarea-wrapper{
  border: 0.8px solid var(--highlight-medium);
  border-radius: 5px;
}

/* chat bottom */

.discourse-no-touch .channels-list .chat-channel-row:hover, .channels-list .chat-channel-row.active{
  border-radius: 5px;
}

.channels-list .chat-channel-row.can-leave:hover .toggle-channel-membership-button.-leave{
  height: 40px;
}

.chat-drawer-container .channels-list .chat-channel-row{
  background-color: var(--primary-very-high)0f;
  border-radius: 5px;
  margin-right: 5px;
}

.chat-message-container.-user-info-hidden .chat-time {
  color: var(--primary-medium)!important;
}

.c-navbar__actions button, .c-navbar .c-navbar__back-button {
  margin: 4px!important;
}

.chat-message .chat-message-text .mention {
  color: var(--secondary)!important;
  background: var(--tertiary)!important;
}

.chat-drawer-container .chat-message .onebox{
  border: none!important;
}

/* dernière visite */

.topic-list .topic-list-item-separator .topic-list-data span{
  background-color: var(--quaternary);
  color: var(--secondary);
  border-radius: 2px;
}

.topic-list .topic-list-item-separator .topic-list-data{
  border-top: 1px solid var(--quaternary);
}

.small-action.topic-post-visited .topic-post-visited-line .topic-post-visited-message{
  background-color: var(--quaternary);
  color: black;
  border-radius: 2px;
}

.small-action.topic-post-visited .topic-post-visited-line{
  border-bottom: 1px solid var(--quaternary);
}

/* emoji */

img.emoji {
  width: 20px;
  height: 20px;
  vertical-align: top;
}

#topic-title h1 a > img.emoji {
  width: 26px;
  height: 26px;
  vertical-align: middle;
  margin-right: 1px;
  margin-bottom: 4px;
}

img.emoji.only-emoji{
  width: 20px;
  height: 20px;
}

/* username */

.names span a{
  color: var(--primary);
}

.topic-meta-data .post-info a{
  color: var(--primary-medium);
}

.post-info.edits .widget-button{
  color: var(--primary-medium);
}

nav.post-controls .actions button.create{
  color: var(--primary-medium);
}

.topic-map h4.names span a{
  color: var(--primary-medium)!important;
}

.topic-map h4{
  color: var(--primary-medium)!important;
}

.select-kit .select-kit-row.is-highlighted{
  background-color: var(--primary-medium)!important;
}

.select-kit .select-kit-row.is-selected{
  background-color: var(--primary-low);
}

.discourse-no-touch .btn-flat:hover, .discourse-no-touch .btn-flat.btn-hover{
  color: var(--primary)!important;
}

.discourse-no-touch .btn-flat:hover .d-icon{
  color: var(--secondary)!important;
}

.extra-info-wrapper .topic-link{
  color: var(--primary)!important;
}

.badge-wrapper .badge-category .category-name{
  color: var(--primary-medium)!important;
}

nav.post-controls .actions button.create .d-icon{
  color: var(--primary-medium)!important;
}

.menu-panel .panel-body-bottom .btn{
  background-color: var(--secondary)!important;
}

.cooked h1, .cooked h2, .cooked h3 {
  color: #9390F1!important;
}

.no-touch .chat-message-container:hover, .no-touch .chat-transcript:hover, .no-touch .chat-message-container.-active, .no-touch .-active.chat-transcript{
  background-color: var(--header_background)!important;
}

.chat-message-info__username__name{
  color: var(--primary)!important;
}

.chat-drawer-header, .chat-composer__wrapper{
  background: var(--header_background)!important;
}

.chat-message-separator-date .chat-message-separator__text{
  color: var(--primary-medium)!important;
}

.user-info .user-detail .title{
  color: var(--primary-medium)!important;
}

.user-info .user-detail .name a, .user-info .user-detail .username a{
  color: var(--primary)!important;
}

.nav-pills>li>a:hover, .nav-pills>li button:hover{
  color: var(--primary)!important;
  background-color: #7caae6be!important;
}

.user-content{
padding: 20px!important;
}

.search-menu .results .search-result-user .user-result .user-titles .username, .search-menu .results .search-result-user .user-result .user-titles .name, .search-menu .results .search-result-user .user-result .user-titles .custom-field{
  color: var(--primary)!important;
}

.search-link .blurb{
  color: var(--primary)!important;
}

.search-link .blurb .search-highlight{
  color: var(--tertiary)!important;
}

.discourse-no-touch .btn-flat:hover .d-icon{
  color: var(--tertiary)!important;
}

.content-list ul li a.active{
  background: var(--secondary);
}

.admin-customize .themes-list-container .themes-list-item:not(.inactive-indicator):not(.selected):hover{
  background: var(--secondary);
}

.admin-contents table tr:hover{
  background: var(--secondary);
}

.dashboard .navigation .navigation-item:hover, .dashboard-next .navigation .navigation-item:hover{
  background: var(--secondary);
}

.popup-menu .btn:focus, .popup-menu .btn:hover {
  background: var(--secondary)!important;
}

.regular.contents a {
  color: var(--quaternary)!important;
}

.regular.contents a:hover {
  text-decoration: underline;
}

.topic-list .main-link .raw-topic-link>*{
  width: 18px;
  height: 18px;
  vertical-align: text-top;
  padding-top: 1px;
}

.author.topic-list-data {
  display: flex;
  align-items: center;
}

.full-width .contents .topic-list .topic-list-header .topic-list-data.posters{
  display: none;
}

.chat-channel-card{
  background-color: var(--secondary);
}

.search-container .search-header{
  background: var(--secondary);
  border-radius: 8px;
  border: 1px solid var(--secondary-high);
}

.search-container .search-filters{
  background: var(--secondary);
}

.search-container .search-filters .search-advanced-filters{
  background: var(--secondary);
}

.search-container .search-bar{
  background: var(--secondary);
}

.select-kit .select-kit-row.is-selected.is-highlighted{
  background: var(--secondary-high)!important;
}

.select-kit .select-kit-row.is-highlighted{
  background-color: var(--secondary-low) !important;
}

.autocomplete ul li a.selected{
  background-color: var(--secondary-low)
}

.discourse-no-touch .autocomplete ul li a:hover, .discourse-no-touch .autocomplete ul li a.btn-hover{
  background-color: var(--secondary-low)

}

a.mention, a.mention-group{
  background: var(--secondary-low);
}

.hashtag-cooked{
  background: var(--secondary-low);
}

.user-menu.revamped .quick-access-panel li.unread, .user-menu.revamped .quick-access-panel li.pending{
  margin-bottom: 5px;
}

.badge-notification.clicks{
  color: var(--tertiary);
}

.discourse-no-touch .sidebar-section-wrapper .sidebar-section-header-wrapper .btn.dropdown-select-box-header:hover, .discourse-no-touch .sidebar-section-wrapper .sidebar-section-header-wrapper .sidebar-section-header-button:hover{
  background: var(--header_background);
}

.sidebar-section-wrapper.sidebar-section[data-section-name="chat-channels"] {
  order: 1!important; 
}
.sidebar-section-wrapper.sidebar-section[data-section-name="categories"] {
  order: 2!important; 
}
.sidebar-section-wrapper.sidebar-section[data-section-name="tags"] {
  order: 3!important; 
}
.sidebar-section-wrapper.sidebar-section[data-section-name="chat-dms"] {
  order: 4!important; 
}
.sidebar-section-wrapper.sidebar-section[data-section-name="messages"] {
  order: 5!important; 
}

.sidebar-wrapper .sidebar-sections {
  display: flex !important;
  flex-direction: column;
}

.topic-body .reply-to-tab{
  color: var(--primary)!important;
}

.chat-enabled .sidebar-section-link--active{
  background: var(--secondary-low)!important;
}

.chat-drawer-header__top-line{
  gap: 5px;
}

.chat-scroll-to-bottom__arrow{
  background: var(--secondary-low);
}

a.chat-drawer-header__title:hover .chat-drawer-header__top-line{
  background: var(--secondary-low);
}

.discourse-no-touch .d-header-icons .icon:hover, .discourse-no-touch .d-header-icons .icon:focus{
  background-color: var(--secondary-low);
}

.btn-flat .d-icon{
  color: var(--primary);
}

#sidebar-section-content-chat-channels {
  display: flex;
  flex-direction: column;
}

#sidebar-section-content-chat-channels > .sidebar-section-link-wrapper[data-list-item-name="chat-crypto"] {
  order: 1;
}

#sidebar-section-content-chat-channels > .sidebar-section-link-wrapper[data-list-item-name="debutant"] {
  order: 2;
}

#sidebar-section-content-chat-channels > .sidebar-section-link-wrapper[data-list-item-name="analyse-technique"] {
  order: 3;
}

#sidebar-section-content-chat-channels > .sidebar-section-link-wrapper[data-list-item-name="analyse-on-chain"] {
  order: 4;
}

#sidebar-section-content-chat-channels > .sidebar-section-link-wrapper[data-list-item-name="chat-hors-sujet"] {
  order: 5;
}

#sidebar-section-content-chat-channels > .sidebar-section-link-wrapper[data-list-item-name="toaster-master"] {
  order: 6;
}

#sidebar-section-content-chat-channels > .sidebar-section-link-wrapper[data-list-item-name="team"] {
  order: 7;
}

.post-links-container ul li a[href]{
  color: var(--quaternary)!important;
}

.timeline-container .topic-timeline .timeline-ago{
  color: var(--primary-medium)!important;
}

span.relative-date{
  color: var(--primary-medium)!important;
}

.timeline-container .topic-timeline .start-date{
  color: var(--primary-medium)!important;
}

aside.onebox{
  border: 1px solid var(--primary-low)!important;
    border-radius: 10px!important;
}